@font-face {
    font-family: 'vazir';
    src: url('../../public/fonts/Vazir.eot');
    src: url('../../public/fonts/Vazir.ttf') format('truetype'),
        url('../../public/fonts/Vazir.woff2') format('woff2'),
        url('../../public/fonts/Vazir.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #0C0C1E;
    --grey: #060714;
    --dark: #FBFBFB;
}

body {
    background: var(--grey);
    overflow-x: hidden;
    font-family: "vazir" !important;
}

/* aside */

aside {
    width: 280px;
    height: 100vh;
    background: var(--light);
    z-index: 2000;
    transition: .3s ease;
    overflow-x: hidden;
    scrollbar-width: none;
}

.brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--light);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

.brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

.side-menu {
    width: 100%;
    margin-top: 48px;
}

.side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

.side-menu li.active {
    background: var(--grey);
    position: relative;
}

.side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--grey);
    z-index: -1;
}

.side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--grey);
    z-index: -1;
}

.side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

.side-menu.top li.active a {
    color: var(--blue);
}

.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

.side-menu li a.logout {
    color: var(--red);
}

.side-menu.top li a:hover {
    color: var(--blue);
}

.side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.hide {
    width: 50px !important;
}

main {
    width: calc(100% - 280px);
}

/* NAVBAR */
nav {
    height: 56px;
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    /* font-family: var(--lato); */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
}

nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

nav a {
    color: var(--dark);
}

nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark);
}

nav .nav-link {
    font-size: 16px;
    transition: .3s ease;
}

nav .nav-link:hover {
    color: var(--blue);
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark);
}

nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

nav .notification {
    font-size: 20px;
    position: relative;
}

nav .notification .num {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

nav .switch-mode {
    display: block;
    min-width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--grey);
    cursor: pointer;
    position: relative;
}

nav .switch-mode::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: var(--blue);
    border-radius: 50%;
    transition: all .3s ease;
}

nav #switch-mode:checked+.switch-mode::before {
    left: calc(100% - (25px - 4px) - 2px);
}

.large {
    width: calc(100% - 50px) !important;
}

/* NAVBAR */